<div class="card">
  <div class="card-body">
    <form method="POST" action="/records/{{{record._id}}}?_method=PUT">
      <div class="container">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="text-secondary">名稱</span>
            </div>
          </div>
          <input class="col-10" type="text" name="name" value="{{{record.name}}}" required>
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="text-secondary">日期</span>
            </div>
          </div>
          <input class="col-10" type="date" name="date" value="{{{record.date}}}" required>
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="text-secondary">類別</span>
            </div>
          </div>
          <select class="form-control col-10" id="category" name="category" value="{{{record.category}}}" required>
            <option value="" disabled selected>必選一類</option>
            <option value="household" {{#if record.household}} selected {{/if}}>家居物業</option>
            <option value="transportation" {{#if record.transportation}} selected {{/if}}>交通出行</option>
            <option value="entertainment" {{#if record.entertainment}} selected {{/if}}>休閒娛樂</option>
            <option value="diet" {{#if record.diet}} selected {{/if}}>餐飲食品</option>
            <option value="others" {{#if record.others}} selected {{/if}}>其他</option>
          </select>
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="text-secondary">金額</span>
            </div>
          </div>
          <input class="col-10" type="number" min="0" step="0.5" name="amount" value="{{{record.amount}}}">
        </div>

        <div class="button-wrapper text-center">
          <a class="btn btn-secondary" href="/" role="button">取消編輯</a>
          <button type="submit" class="btn btn-primary">儲存變更</button>
        </div>
    </form>
  </div>
</div>